<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quinto Ejercicio </title>
</head>
<body>
    <h1>Algoritmo para saber si un número es Primo</h1>
    <form action="aplicacion/primoP/" method="GET">
        Número a saber si es primo: <input type="text" name="primo"></br></br>
        <input type="submit" value="Resultado">
    </form>
</body>
</html>