<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segudo Ejercicio</title>    
</head>
<body>
        <h1>Calculadora con Funciones de Orden Superior</h1>
        <form action="aplicacion/calculadoraOS/" method="GET">
            Primer número: <input type="text" name="primero"></br></br>
            Segundo número: <input type="text" name="segundo"></br></br>
            <p>Importante! Operaciones permitidas [suma, resta, multiplicacion, division]</p>
            Operacion: <input type="text" name="operacion"></br></br>
            <input type="submit" value="Resultado">
        </form>
</body>
</html>