<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tercer Ejercicio</title>
</head>
<body>
    <h1>Calculadora de Matrices con funciones de Orden Superior</h1>
    <form action="aplicacion/calculadoraM" method="get">
        <p>Ejemplo de Matriz: [1,2,3,4,5, ... n][1,2,3,... m]</p>
        Introduzca la primera Matriz: <input type="text" name="primer" value="[1,3,4][2,3,1]"></br></br>
        Introduzca la segunda Matriz: <input type="text" name="segundo" value="[3,1][5,7][1,1]"></br></br>
        <p>Operaciones permitidas: [suma, resta, multiplicacion]</p>
        Introduzca la operación a realizar: <input type="text" name="operacion" value="multiplicacion"></br></br>
        <input type="submit" value="Resultado">
    </form>
</body>
</html>