<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuarto Ejercicio en Python - Proyecto de INF - 319</title>
</head>
<body>
    <h1>Algoritmo de Factorial</h1>
    <form action="aplicacion/factorialP/" method="GET">
        Introduce el número a saber factorial: <input type="text" name="fac">
        <input type="submit" value="Resultado">
    </form>
</body>
</html>